.title{
    color: yellow;
    background-color: gray;
}
.sourcecard{
    background-color: rgba(248, 248, 248, 0.89);
}
#sourcename{
    background-color: gray;
    color: yellow;
    font-weight: bold;
}
#sourcename a:hover{
    text-decoration: none;
    font-weight: bolder;
}
.desc{
    font-size:18px;
}
#visit{
    margin-left: 10%; 
}
.art{
    font-weight: bold;
    background-color: gray;
}
#articles{
    margin-top: 6%;
}
.info{
    margin-bottom: 2%;
}
.overlay{
    width: 100%;
    padding-top: 1%
}
.headers{
    margin-top:5%;
    margin-bottom:16px; 
    color: white;
}
